{% extends 'TemplateAdmin/layout.html.twig' %}

{% block content %}
    <div class="container">
        {% if type == "start" %}
            <h1>Liste des entrées</h1>
        {% elseif type == "between" %}
            <h1>Liste des plats</h1>
        {% else %}
            <h1>Liste des dessert</h1>
        {% endif %}
        <form class="row" method="post" action="/admin/menu/addDish/{{ idMenu }}">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Composition</th>
                    <th scope="col">Prix</th>
                    <th scope="col">&#x2714;</th>
                </tr>
                </thead>
                <tbody>
                {% set i=0 %}
                {% for dish in listDish %}
                {% set i=i+1 %}
                    <tr>
                        <td><label for="id">{{ i }}</label></td>
                        <td>{{ dish.title }}</td>
                        <td>{{ dish.composition }}</td>
                        <td>{{ dish.price }}</td>
                        <td><input id="id" type="checkbox" name="id[]" value="{{ dish.id }}"></td>
                    </tr>
                    {% else %}
                        {% if type == "start" %}
                            <tr>
                                <td colspan="5">Désolé mais il n'y à aucune entrée à selectionner</td>
                            </tr>
                        {% elseif type == "between" %}
                            <tr>
                                <td colspan="5">Désolé mais il n'y à aucun plat à selectionner</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Désolé mais il n'y à aucun dessert à selectionner</td>
                            </tr>
                        {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <input class="btn-action" type="submit" value="Enregistrer">
        </form>
    </div>
{% endblock %}