{% extends 'TemplateAdmin/layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Liste des Menus</h1>
        <fieldset>
            <legend>Ajouter un menu</legend>
            <form class="row" method="post" action="/admin/menu/save">
                <div class="form-group col-12 col-md-5">
                    <label for="title"></label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Titre du menu">
                </div>
                <div class="form-group col-12 col-md-4">
                    <label for="price"></label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="Prix du menu">
                </div>
                <div class="form-group col-12 col-md-3">
                    <input class="btn-add-menu" type="submit" value="Ajouter">
                </div>
            </form>
        </fieldset>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Prix</th>
                <th scope="col">Statut</th>
                <th scope="col">Voir</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% set i=0 %}
            {% for menu in allMenu %}
                {% set i=i+1 %}
                <tr>
                    <th scope="row">{{ i }}</th>
                    <td>{{ menu.title }}</td>
                    <td>{{ menu.price }}</td>
                    <td>{{ menu.status }}</td>
                    <td><a href="detail/{{ menu.id }}">Voir</a></td>
                    <td><a href="update/{{ menu.id }}">Modifier</a></td>
                    <td><a href="delete/{{ menu.id }}">Supprimer</a></td>
                </tr>
            {% else %}
                <div class="alert alert-warning" role="alert">Vous n'avez aucun menu de crée.</div>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
