{% extends 'TemplateAdmin/layout.html.twig' %}

{% block content %}
    <h1>Les Plats</h1>
    <div>
        <a href="/admin/menu/listdish/">Tous</a> |
        <a href="/admin/menu/list/start/">Entrées</a> |
        <a href="/admin/menu/list/between/">Plats</a> |
        <a href="/admin/menu/list/dessert/">Desserts</a>
    </div>
    {% for dish in allDish %}
        <div>
            <p>{{ dish.id }} || {{ dish.type }}</p>
            <div>
                <p>{{ dish.title }}</p>
                <p>{{ dish.composition }}</p>
            </div>
            <div>
                <a href="dish/{{ dish.id }}">Modifier</a>
                <a href="/admin/menu/dishDelete/{{ dish.id }}">Supprimer</a>
            </div>
        </div>
    {% endfor  %}
{% endblock %}
